h1 {
    margin: auto;
}

.board {
    margin: auto;
    width: 400px;
}

.info {
    width: 400px;
    margin: 50px;
}

.move-history {
    max-height: 100px;
    overflow-y: scroll;
    width: 500px;
}

